.profile {
  overflow: hidden;
}

.profile__content {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
  margin: auto;
  padding: 74px 0 70px;
  box-sizing: border-box;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-left: 15px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 123px;
  box-sizing: border-box;
}

.profile__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.profile__fields-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #FFF;
  margin: 0;
}

.profile__input {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  text-overflow: ellipsis;
  background-color: transparent;
  text-align: right;
  cursor: pointer;
}

.profile__input:focus {
  outline: transparent;
  border-bottom: 1px solid #4285F4;
}

.profile__fields {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
}

.profile__fields:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #424242;
}

.profile__fields:last-of-type {
  padding-top: 17px;
}

.profile__nav {
  display: grid;
  gap: 16px;
  justify-items: center;
  padding-top: 216px;
}

.profile__nav-button {
  text-align: center;
  border: none;
  background-color: transparent;
}

.profile__nav-button_edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #FFF;
  cursor: pointer;
}

.profile__nav-button_edit:hover {
  transition: .3s linear;
  opacity: .5;
}

.profile__nav-button_signout {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #EE3465;
  text-decoration: none;
}

.profile__nav-button_signout:hover {
  transition: .3s linear;
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .profile__content {
    padding-top: 231px;
    padding-bottom: 269px;
  }

  .profile__form {
    padding-top: 96px;
  }

  .profile__nav {
    padding-top: 207px;
  }
}

@media screen and (max-width: 424px) {
  .profile__content {
    padding-top: 65px;
    padding-bottom: 40px;
    max-width: 260px;
  }

  .profile__form {
    padding-top: 80px;
  }

  .profile__nav {
    padding-top: 376px;
  }

  .profile__nav-button_edit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__nav-button_signout {
    font-size: 12px;
    line-height: 15px;
  }
}