.portfolio {
  padding: 101px 70px 125px;
  background-color: #202020;
}

.portfolio__title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: #8B8B8B;
  margin: 0;
}

.portfolio__components {
  display: grid;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 48px;
}

.portfolio__component {
  border-bottom: 1px solid #424242;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 19px;
}

.portfolio__component:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #FFF;
  text-decoration: none;
  margin: 0;
  cursor: pointer;

}

.portfolio__link:hover {
  transition: .3s linear;
  opacity: .7;
}

.portfolio__arrow {
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 91px 50px 90px;
  }

  .portfolio__title {
    color: #A0A0A0;
  }

  .portfolio__components {
    padding-top: 50px;
  }

  .portfolio__link {
    font-size: 28px;
  }

  .portfolio__arrow {
    padding-top: 5px;
  }
}

@media screen and (max-width: 424px) {
  .portfolio {
    padding: 69px 14px 70px;
  }

  .portfolio__title {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (424 - 320)));

  }

  .portfolio__components {
    padding-top: 41px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow {
    width: 10px;
    padding-top: 0;
    padding-right: 4px;

  }
}