.savedMovies {
  padding-bottom: 140px;
}

.savedMovies__preloader {
  display: flex;
  justify-content: center;
}

.savedMovies__container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.savedMovies__text {
  color: #FFF;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.savedMovies__error {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #EE3465;
  text-align: center;
}