.promo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #073042;
  width: 100%;
  min-height: 527px;
}

.promo__title {
  position: relative;
  max-width: 730px;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #FFF;
  text-align: center;
  margin: 0;
  padding-top: 183px;
  z-index: 1;
}

.promo__background {
  position: absolute;
  top: 155px;
  width: 320px;
  height: 320px;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(570px + (784 - 570) * ((100vw - 320px) / (768 - 320)));
    ;
  }

  .promo__title {
    font-size: calc(31px + (50 - 31) * ((100vw - 320px) / (768 - 320)));
    line-height: calc(39px + (58 - 39) * ((100vw - 320px) / (768 - 320)));
    padding: calc(207px + (326 - 207) * ((100vw - 320px) / (768 - 320))) calc(10px + (44 - 10) * ((100vw - 320px) / (768 - 320))) 0;
  }

  .promo__background {
    width: 100%;
    height: calc(248px + (320 - 248) * ((100vw - 320px) / (768 - 320)));
    top: calc(216px + (296 - 216) * ((100vw - 320px) / (768 - 320)));
  }

  .nav_tab {
    padding: 24px 0 23px;
  }
}